@import './styles/reset.css';
@import './styles/fonts.css';
@import './styles/variables.css';

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    background-color: var(--background-color);
}